/* Grundfarben für die Seite */
$color-lightborder:         #ddd;
$color-darkborder:          #888;
$color-sidebarbg:           #f0f0f0;
$color-lightshadow:         #f8f8f8;
$color-link:                #0a94a9;
$color-link-alt:            darken($color-link, 10%);
$color-accent:              $color-link;
$color-accent-contrast:     white;