$width-content:     1180px;
$width-column:      $width-content /12;
$font-headlines:    Lato, Trebuchet MS, Helvetica, Arial, sans-serif;
$font-text:         Lato, Trebuchet MS, Helvetica, Arial, sans-serif;
$font-monospace:    Fira Mono, Monaco, Menlo, DejaVu Sans Mono, Droid Sans Mono, Consolas, monospace;
$background-color:  #fff;
$primary-color:     #333;
$primary-color-inactive: #777;
$link-color:        #3e6e9b;
$link-color-alt:    #2d5072;
$button-color-bg:   #3e6e9b;
$button-color-fg:   white;
$button-color-bg-alt: #2d5072;
$nav-color-bg:      aliceblue;
$toolbar-bg:        #f8f8f8;
$toolbar-bg-header: #ddd;
$border-color:      #ddd;
$border-color-heavy: silver;
$shading-color:     #eee;
$spacing:           1rem;
$fontsize-normal:   1rem;
$fontsize-small:    0.9 *$fontsize-normal;
$fontsize-lead:     1.1 *$fontsize-normal;
$fontsize-large:     1.2 *$fontsize-normal;

/* <editor-fold desc="Base elements"> */

html {
    font-size: 90%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
    font-size: 1rem;
    color: $primary-color;
    background-color: $background-color;
}

.fs-normal {
    font-size: $fontsize-normal !important;
}

.fs-small {
    font-size: $fontsize-small !important;
}

.fs-lead {
    font-size: $fontsize-lead !important;
}

.fs-large {
    font-size: $fontsize-large !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headlines;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 0.5 *$spacing;
}

a {
    text-decoration: none;
    color: $link-color;
}

a:hover {
    text-decoration: underline;
    color: $link-color-alt;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25 *$spacing !important;
}

.mb-2 {
    margin-bottom: 0.5 *$spacing !important;
}

.mb-3 {
    margin-bottom: $spacing !important;
}

.mb-4 {
    margin-bottom: 1.5 *$spacing !important;
}

.mb-5 {
    margin-bottom: 3 *$spacing !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 0.25 *$spacing !important;
}

.ml-2 {
    margin-left: 0.5 *$spacing !important;
}

.ml-3 {
    margin-left: $spacing !important;
}

.ml-4 {
    margin-left: 1.5 *$spacing !important;
}

.ml-5 {
    margin-left: 3 *$spacing !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 0.25 *$spacing !important;
}

.mr-2 {
    margin-right: 0.5 *$spacing !important;
}

.mr-3 {
    margin-right: $spacing !important;
}

.mr-4 {
    margin-right: 1.5 *$spacing !important;
}

.mr-5 {
    margin-right: 3 *$spacing !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25 *$spacing !important;
}

.mt-2 {
    margin-top: 0.5 *$spacing !important;
}

.mt-3 {
    margin-top: $spacing !important;
}

.mt-4 {
    margin-top: 1.5 *$spacing !important;
}

.mt-5 {
    margin-top: 3 *$spacing !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-1 {
    margin-left: 0.25 *$spacing !important;
    margin-right: 0.25 *$spacing !important;
}

.mx-2 {
    margin-left: 0.5 *$spacing !important;
    margin-right: 0.5 *$spacing !important;
}

.mx-3 {
    margin-left: $spacing !important;
    margin-right: $spacing !important;
}

.mx-4 {
    margin-left: 1.5 *$spacing !important;
    margin-right: 1.5 *$spacing !important;
}

.mx-5 {
    margin-left: 3 *$spacing !important;
    margin-right: 3 *$spacing !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25 *$spacing !important;
    margin-bottom: 0.25 *$spacing !important;
}

.my-2 {
    margin-top: 0.5 *$spacing !important;
    margin-bottom: 0.5 *$spacing !important;
}

.my-3 {
    margin-top: $spacing !important;
    margin-bottom: $spacing !important;
}

.my-4 {
    margin-top: 1.5 *$spacing !important;
    margin-bottom: 1.5 *$spacing !important;
}

.my-5 {
    margin-top: 3 *$spacing !important;
    margin-bottom: 3 *$spacing !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25 *$spacing !important;
}

.m-2 {
    margin: 0.5 *$spacing !important;
}

.m-3 {
    margin: 1 *$spacing !important;
}

.m-4 {
    margin: 1.5 *$spacing !important;
}

.m-5 {
    margin: 3 *$spacing !important;
}

.m-auto {
    margin: auto !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25 *$spacing !important;
}

.pb-2 {
    padding-bottom: 0.5 *$spacing !important;
}

.pb-3 {
    padding-bottom: $spacing !important;
}

.pb-4 {
    padding-bottom: 1.5 *$spacing !important;
}

.pb-5 {
    padding-bottom: 3 *$spacing !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-bottom: 0.25 *$spacing !important;
}

.pt-2 {
    padding-top: 0.5 *$spacing !important;
}

.pt-3 {
    padding-top: $spacing !important;
}

.pt-4 {
    padding-top: 1.5 *$spacing !important;
}

.pt-5 {
    padding-top: 3 *$spacing !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: 0.25 *$spacing !important;
}

.pl-2 {
    padding-left: 0.5 *$spacing !important;
}

.pl-3 {
    padding-left: $spacing !important;
}

.pl-4 {
    padding-left: 1.5 *$spacing !important;
}

.pl-5 {
    padding-left: 3 *$spacing !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: 0.25 *$spacing !important;
}

.pr-2 {
    padding-right: 0.5 *$spacing !important;
}

.pr-3 {
    padding-right: $spacing !important;
}

.pr-4 {
    padding-right: 1.5 *$spacing !important;
}

.pr-5 {
    padding-right: 3 *$spacing !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1 {
    padding-left: 0.25 *$spacing !important;
    padding-right: 0.25 *$spacing !important;
}

.px-2 {
    padding-left: 0.5 *$spacing !important;
    padding-right: 0.5 *$spacing !important;
}

.px-3 {
    padding-left: $spacing !important;
    padding-right: $spacing !important;
}

.px-4 {
    padding-left: 1.5 *$spacing !important;
    padding-right: 1.5 *$spacing !important;
}

.px-5 {
    padding-left: 3 *$spacing !important;
    padding-right: 3 *$spacing !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25 *$spacing !important;
    padding-bottom: 0.25 *$spacing !important;
}

.py-2 {
    padding-top: 0.5 *$spacing !important;
    padding-bottom: 0.5 *$spacing !important;
}

.py-3 {
    padding-top: $spacing !important;
    padding-bottom: $spacing !important;
}

.py-4 {
    padding-top: 1.5 *$spacing !important;
    padding-bottom: 1.5 *$spacing !important;
}

.py-5 {
    padding-top: 3 *$spacing !important;
    padding-bottom: 3 *$spacing !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25 *$spacing !important;
}

.p-2 {
    padding: 0.5 *$spacing !important;
}

.p-3 {
    padding: $spacing !important;
}

.p-4 {
    padding: 1.5 *$spacing !important;
}

.p-5 {
    padding: 3 *$spacing !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hidden {
    display: none;
}

/* </editor-fold> */


/* <editor-fold desc="Container elements"> */

div.container:after,
div.toolbar:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.toolbar {
    clear: both;
}

div.container {
    margin-left: auto;
    margin-right: auto;
    width: $width-content;
    max-width: 100%;
    clear: both;
    display: flow-root;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.spacing {
    padding-left: 1 *$spacing !important;
    padding-right: 1 *$spacing !important;
}

div.column-6 {
    width: $width-column *6;
    display: inline-block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.column-4 {
    width: $width-column *4;
    display: inline-block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.column-3 {
    width: $width-column *3;
    display: inline-block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.column-2 {
    width: $width-column *2;
    display: inline-block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* </editor-fold> */


/* <editor-fold desc="Message boxes"> */

div.msgcritical {
    border: solid red 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem
}

div.msgnote {
    border: solid black 1px;
    border-radius: 5px;
    background-color: beige;
    font-size: $fontsize-lead;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem
}

/* </editor-fold> */


/* <editor-fold desc="Navigation elements"> */

nav.main {
    background-color: $nav-color-bg;
    border-bottom: solid silver 1px;
}

nav.main img {
    margin: 0.5em 0 0.5em 1em;
    vertical-align: middle;
}

nav.main ul {
    list-style: none inside none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.5rem;
    padding: 0;
}

nav.main ul li {
    list-style: none inside none;
    display: inline-block;
    float: left;
}

nav.main ul li a {
    display: block;
    text-decoration: none;
    color: $primary-color-inactive;
    font-weight: bold;
    font-size: $fontsize-large;
    padding: 0.5em 0.8em;
}

nav.main ul li a:hover,
nav.main ul li.active a {
    color: $primary-color;
    background-color: $background-color;
    border-radius: 5px;
}

/* </editor-fold> */


/* <editor-fold desc="Buttons"> */

a.button,
input.button {
    border-radius: 4px;
    border: 1px solid $button-color-bg;
    background-color: $button-color-bg;
    display: inline-block;
    color: $button-color-fg;
    padding: 0.4em 1em;
    text-decoration: none !important;
    cursor: pointer;
    line-height: 1.4em;
    position: relative;
}

a.button:hover,
input.button:hover {
    background-color: $button-color-bg-alt;
}

a.button-secondary,
input.button-secondary {
    background-color: white;
    color: $button-color-bg;
    border-color: $button-color-bg;
}

a.button-secondary:hover,
input.button-secondary:hover {
    border-color: $button-color-bg-alt;
    color: $button-color-bg-alt;
    background-color: white;
}

a.button.disabled,
input.button[disabled] {
    background-color: #666;
    color: #ccc;
}

a.button img,
a.button-secondary img {
    vertical-align: middle;
    margin: 0 4px 0 0;
}

img.imageonly {
    margin: 0 !important;
}

span.badge {
    display: inline-block;
    position: absolute;
    border-radius: 0.6em;
    padding: 0 0.4em;
    top: -0.2em;
    right: -0.1em;
    background-color: red;
    box-shadow: 0 0 0.2em #222;
}

/* </editor-fold> */


/* <editor-fold desc="Inline menu lists" */

ul.inlinemenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inlinemenu li {
    font-size: $fontsize-lead;
    font-weight: bold;
}

ul.inlinemenu li a {
    display: block;
    line-height: 2em;
}

ul.inlinemenu li a:hover {
    background-color: #f5f5f5;
}

/* </editor-fold> */


/* <editor-fold desc="Form elements"> */

div.dropzone {
    width: 80%;
    margin: 1rem auto;
    border: dashed $border-color 4px;
    border-radius: 0.5em;
    padding: 2em;
    text-align: center;
    background-color: $toolbar-bg;
}

div.dropzone.dragover {
    border-color: $border-color-heavy;
/*    background-color: $nav-color-bg;*/
}

input, select, option, textarea {
    font-family: $font-text;
    font-size: $fontsize-normal;
    line-height: 1.4em;
    box-sizing: border-box;
    border: 1px solid $border-color;
    background-color: white;
    color: $primary-color;
}

textarea {
    font-family: $font-monospace;
    font-size: $fontsize-normal;
    border: 1px solid $border-color;
    resize: vertical;
}

.editform {
    position: relative;
    margin: -1px;
    padding: 0;
    border: solid transparent 1px;
}

.editform .row {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.row + div.row {
    margin-top: 1rem;
}

.editform input,
.editform textarea,
.editform select {
    width: 100%;
}

.editform_sidebar_right {
    display: none;
    position: absolute;
    width: 400px;
    right: 0;
    background-color: $toolbar-bg;
    border: 0 solid $border-color-heavy;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
}

.editform_sidebar_right input,
.editform_sidebar_right textarea,
.editform_sidebar_right select {
    width: auto;
}

.editform_sidebar_right label {
    display: inline-block;
    width: 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}

input.big {
    font-size: 2rem;
}

fieldset {
    border: solid $border-color 2px;
    border-radius: 4px;
}

fieldset legend {
    font-weight: bold;
}

fieldset label {
    width: 40%;
    display: inline-block;
}

fieldset input.text {
    display: inline-block;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

/* </editor-fold> */


/* <editor-fold desc="Misc elements"> */

div.toolbar {
    margin: 1.5em 0 0 0;
    border-bottom: solid $border-color-heavy 1px;
    padding: 0 0 0.5em 0;
}

footer {
    border-top: solid $border-color-heavy 1px;
    margin-top: 1rem;
}

div.toolbar .spaceleft {
    margin-left: 1em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 2em 0;
}

.placeholder {
    position: relative;
}

.placeholder .blanker {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/spin.gif") no-repeat center;
}

.placeholder.loading .blanker {
    display: block;
}

.placeholder.loading .content {
    opacity: 0.2;
}

img.spinner {
    vertical-align: middle;
    margin-right: 1em;
    opacity: 0;
}

img.spinner.loading {
    opacity: 1;
}

.blanker {
    position: fixed;
    z-index: 19;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(10px) grayscale(100%);
}

/* </editor-fold> */


/* <editor-fold desc="List tables"> */

table.list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

table.list td,
table.list th {
    border: solid silver 1px;
}

table.list th {
    background-color: $nav-color-bg;
    text-align: left;
}

table.list tr.noresult td {
    padding: 1em;
    text-align: center;
    font-style: italic;
}

td.textright,
th.textright {
    text-align: right !important;
}

td.textleft,
th.textleft {
    text-align: left !important;
}

td.textcenter,
th.textcenter {
    text-align: center !important;
}

td.pre,
th.pre {
    font-family: $font-monospace;
}

/* </editor-fold> */


/* <editor-fold desc="Toolbars"> */

.imgtoolbar {
    background-color: $toolbar-bg;
    padding: 0.2em 0.5em;
    border: 0 solid $border-color;
    border-bottom-width: 1px;
}

.imgtoolbar a.button  {
    background-color: transparent;
    color: black;
    vertical-align: middle;
    font-size: $fontsize-small;
    padding: 6px;
    line-height: 1em;
    border-color: transparent;
}

.imgtoolbar a.button:hover {
    border-color: $button-color-bg;
}

.imgtoolbar a.button img  {
    vertical-align: middle;
    margin: 0 0 0 0;
}

.imgtoolbar a.button span {
    padding: 0 0 0 4px;
}

.imgtoolbar span.separator {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 1rem;
    border-left: solid white 1px;
    border-right: solid silver 1px;
}

.imgtoolbar_popupbutton {
    position: relative;
}

.imgtoolbar_popup {
    display: none;
    position: absolute;
    top: 2em;
    background-color: $toolbar-bg;
    border: 1px solid $border-color;
}

.imgtoolbar_popup label {
    display: block;
    background-color: $toolbar-bg-header;
    clear: both;
    line-height: 2em;
}

ul.imgtoolbar_keyboard {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.imgtoolbar_keyboard li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 1.8em;
    float: left;
    font-size: 2rem;
}

ul.imgtoolbar_keyboard li a {
    display: block;
    text-decoration: none;
    padding: 2px;
    border: 1px solid transparent;
    white-space: nowrap;
}

ul.imgtoolbar_keyboard li a:hover {
    border-radius: 2px;
    border: 1px $border-color solid;
}

/* </editor-fold> */


/* <editor-fold desc="Inline popups"> */

.draggable {
    cursor: grab;
}

.inlinepopup {
    box-shadow: 0 0 45px #222;
    z-index: 20;
    position: absolute;
    width: auto;
    height: 250px;
    background-color: white;
    left: 125px;
    right: 125px;
    top: 0;
    border: solid black 1px;
    resize: both;
    overflow: hidden;
}

.inlinepopup.loading {
    background: white url("../img/spin.gif") no-repeat center;
}

.inlinepopup.closed {
    display: none;
}

.inlinepopup div.controls {
    position: absolute;
    width: 100%;
    text-align: right;
    right: 8px;
    top: 10px;
    width: 16px;
    height: 16px;
}

.inlinepopup .headline {
    margin: 0;
    padding: 0 1em;
    margin: 2px;
    background-color: $shading-color;
}

.inlinepopup .headline h2 {
    font-size: 1.2rem;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

.inlinepopup div.popupcontent {
    overflow: auto;
/*    padding: 0.4em 1em;*/
    padding: 0;
    height: auto;
    top: 2.6rem;
    bottom: 2.6rem;
    left: 0;
    right: 0;
    position: absolute;
/*    border: solid blue 3px;*/
    max-height: 100%;
}

.inlinepopup div.buttons {
    background: white;
    text-align: right;
    border-top: solid #aaa 1px;
    padding: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.inlinepopup div.buttons .spacer {
    padding: 0.2em 1em;
}

.inlinepopup div.buttons input.button {
    margin-left: 0.5em;
}

.inlinepopup div.buttons input.button.left {
    margin-left: 0;
    margin-right: 0.5em;
    float: left;
}

.inlinepopup div.popupcontent label {
    display: inline-block;
    width: 35%;
    height: 1.6em;
    line-height: 1.6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.inlinepopup div.popupcontent input,
.inlinepopup div.popupcontent textarea,
.inlinepopup div.popupcontent select {
    width: 60%;
    vertical-align: text-top;
}

.inlinepopup div.info {
    background-color: $shading-color;
    font-size: $fontsize-normal;
    padding: 0.5em;
    border: solid $border-color 1px;
}

/* </editor-fold> */


/* <editor-fold desc="Virtual Keyboard (Emojis) "> */

div.virtualkeyboard {
    border: solid $border-color 1px;
    background-color: $toolbar-bg;
}

/* </editor-fold> */


/* <editor-fold desc="Paging navigation"> */

div.paging {
    background-color: $toolbar-bg;
}

div.paging ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.paging li {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 2em;
}

div.paging li a {
    padding: 0 0.5em;
    display: block;
}

div.paging li.selected {
    font-weight: bold;
}

/* </editor-fold> */


/* <editor-fold desc="php info"> */

div.phpinfo table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.5rem;
}

div.phpinfo td.e,
div.phpinfo td.v {
    border: solid $border-color-heavy 1px;
}

div.phpinfo td.e {
    background-color: $toolbar-bg-header;
}

/* </editor-fold> */